#{extends 'main.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}

<div id="crudShow" class="${type.name}">

    <h2 id="crudShowTitle">&{'crud.show.title', type.modelName}</h2>

    <div class="objectForm">
        #{form action:@save(object._key()), enctype:'multipart/form-data'}
        #{crud.form }
        #{crud.custom 'cars'}
        <label for="cars">Cars</label><br/>
        <ul id="cars">
            #{list items:object.cars, as:'car'}
            <li><a href="@{Cars.show(car.id)}">${car}</a></li>
            #{/list}
        </ul>
        #{/crud.custom}
        #{crud.custom 'customerFiles'}
        <label for="customerFiles">Customer files</label><br/>
        <ul id="customerFiles">
            #{list items:object.customerFiles, as:'cFile'}
            <li><a href="@{Application.getCustomerFile(cFile.id)}">${cFile.fileName}</a>
            <a href="@{Application.deleteCustomerFile(object.id,cFile.id)}">Delete</a> </li>
            #{/list}
        </ul>
        #{/crud.custom}
        #{/crud.form}
        <p class="crudButtons">
            <input type="submit" name="_save" value="&{'crud.save', type.modelName}"/>
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}"/>
        </p>
        #{/form}
    </div>

    #{form @delete(object._key())}
    <p class="crudDelete">
        <input type="submit" value="&{'crud.delete', type.modelName}"/>
    </p>
    #{/form}

    <div class="fileForm">
        <h3 id="uploadFile">Upload file</h3>
        #{form action:@Customers.uploadFile(object.id,customerFile), enctype:'multipart/form-data'}
        <input type="file" name="customerFile"/>
        <input type="submit" name="submit" value="Save"/>
        #{/form}
    </div>

</div>